@model ProductViewModel
@{
    ViewData["Title"] = "Product Edit Data";
}

<h2>Form Edit Product</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Product Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Product Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Category">Product Category</label>
        <input asp-for="Category" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Price">Product Id</label>
        <input asp-for="Price" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
