@model DivisionViewModel

@{
    ViewData["Title"] = "Division Detail";
}

<h2>Division Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>

        <tr>
            <th>Division Name</th>
            <td>@Model.DivisionName</td>
        </tr>
    </tbody>
</table>